[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycountry = "*"
django = "*"
django-crispy-forms = "*"
django-extensions = "*"
"psycopg2" = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
