{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> OWL | EMR</title>
    <link id="theme" href= "/static/css/Darkly.min.css" rel="stylesheet">
    <!-- <script src="https://use.fontawesome.com/92714eb017.js"></script> -->
    <script type="text/javascript">
    <!--
    function toggle_theme() {
        var el = document.getElementById("theme");
        if (el.href == "/static/css/Flatly.min.css")
            el.href = "/static/css/Darkly.min.css";

        else
            el.href = "/static/css/Flatly.min.css";

    }
    //-->
    </script>

  </head>

  <body>
      {%include 'emr/navbar.html' %}
      {% block body_content %}



      {% endblock %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>
