{% extends 'base.html' %}
{% load static %}

{% block body_content %}


<div class="container">
<div class="row">

  <div class="col-md-12 main">
    <h1 class="page-header"></h1>

    <div class="row placeholders" style="text-align : center">

        <div class="col-xs-4 placeholder">
          <h1>{{current_patients.count}}</h1>
          <span class="text-muted">current patients</span>
        </div>
        <div class="col-xs-4 placeholder">
            <a href="#admissions" data-toggle="modal">
                  <span class="text-info">
                      <h1>{{Patient.month_admissions.count}}</h1>
                      month admissions
                  </span>
              </a>
          <div id="admissions" class="modal fade" role="dialog">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="text-info">
                              Month Admissions
                          </h1>
                      </div>
                    <div class="modal-body">
              <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Serial No</th>
                        <th>LOS</th>
                      </tr>
                    </thead>
                  <tbody>
                    {%for patient in Patient.month_admissions %}
                    <tr>
                      <td><a href="{%url 'emr:patient_detail' patient.id %}">{{patient}}</a></td>
                      <td>{{patient.serial_no}}</td>
                      <td>{{patient.los}}</td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
                <button data-dismiss="modal" type="button">close
                </button>
            </div>
            </div>
            </div>
              </div>
          </div>
        </div>
        <div class="col-xs-4 placeholder">
            <a href="#mortality" data-toggle="modal">
              <span class="text-danger">
                  <h1>{{Patient.month_mortality.count}}</h1>
                  month mortality
              </span>
            </a>
              <div id="mortality" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h1 class="text-danger">
                                  Month Mortality
                              </h1>
                          </div>
                        <div class="modal-body">
                      <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Serial No</th>
                                <th>LOS</th>
                              </tr>
                            </thead>
                          <tbody>
                            {%for patient in Patient.month_mortality %}
                            <tr>
                              <td><a href="{%url 'emr:patient_detail' patient.id %}">{{patient}}</a></td>
                              <td>{{patient.serial_no}}</td>
                              <td>{{patient.los}}</td>
                            </tr>
                            {%endfor%}
                          </tbody>
                        </table>
                      </div>
                      <button data-dismiss="modal" type="button">close
                      </button>
                  </div>
                  </div>
                  </div>
              </div>
        </div>
    </div>

{% include 'emr/search_form.html' %}

    <h2 class="sub-header" style="text-align: center">Currently Admitted Patients</h2>
      <div class="row">
        <a href="{%url 'emr:patient_add' %}">
            <button class="btn btn btn-sm pull-right" type="button">
                <span class="glyphicon glyphicon-plus"></span> add patient
            </button>
        </a>
      </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Serial No</th>
            <th>LOS</th>
          </tr>
        </thead>
        <tbody>
          {%for patient in current_patients %}
          <tr>
            <td>
                <a href="{%url 'emr:note_add' patient.id %}">
                <span class="glyphicon glyphicon-edit"></span>
                </a>
                &nbsp;
                <a href="{%url 'emr:patient_discharge' patient.id %}">
                <span class="text-danger">
                    <span class="glyphicon glyphicon-eject"></span>
                </span>
                </a>
            </td>
            <td><a href="{%url 'emr:patient_detail' patient.id %}">{{patient}}</a></td>
            <td>{{patient.serial_no}}</td>
            <td>{{patient.los}}</td>
          </tr>
          {%endfor%}

        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
{% endblock %}
