{% extends 'emr/base.html' %}
{% load static %}

{% block body_content %}
 <div class="container">
     <h1>FAQs</h1>
     <p>still under construction</p>
     <h3>Why OWLs?!</h3>
     <li>Owls are mostly nocturnal and can rotate there heads 270 degrees; two characters any intensivist would much appreciate.</li>
     <li>Owls need to learn avoid <a href="https://en.wikipedia.org/wiki/Mobbing_(animal_behavior)">mobbing</a>.  Those surgeons 😠</li>
     <li>OWLs stand for Obligate Wandering <a href="https://en.wiktionary.org/wiki/librocubicularist">Librocubicularists</a>.</li>


     <h3>What's owlets</h3>
     <h2>study resources</h2>
     <ul>
         <li><a>Curriculum</a></li>
         <li><a>Bojar</a></li>
         <li><a>Irwin and Rippe</a></li>
         <li><a>Cecil's essentials</a></li>
     </ul>
 </div>
{% endblock %}
