{% extends 'emr/base.html' %}
{% load static %}

{% block body_content %}
 <div class="container">
     <h1>FAQs</h1>
     <p>still under construction</p>
     <h3>Why OWLs?!</h3>
     <li>Owls are mostly nocturnal and can rotate there heads 270 degrees; two characters any intensivist would much appreciate.</li>
     <!-- <li>Owls need to learn avoid <a href="https://en.wikipedia.org/wiki/Mobbing_(animal_behavior)">mobbing</a>.  Those surgeons 😠</li> -->
     <li>OWLs stands for Obligate Wandering <a href="https://en.wiktionary.org/wiki/librocubicularist">Librocubicularists</a>.</li>


     <h3>What's owlets</h3>
     <h2>Study resources</h2>
     <ul>
        <li><a href="/media/study/curriculum.pdf">Curriculum</a></li>
        <li><h4>Critical Care Medicine</h4>
		<ul>
		<li><a href="/media/study/irwin_7e.pdf">Irwin and Rippe's Intesive Care Medicine 7Edition</a></li>
        	<li><a href="/media/study/irwin_6e.chm">Irwin and Rippe's Intesive Care Medicine 6Edition</a></li>
	        <li><a href="/media/study/cvta_2012.pdf">Civetta's Manual of Critical Care Medicine</a></li>
	        <li><a href="/media/study/txtcritcare_7e.pdf">Textbook of Critical Care Medicine 7Edition (Shoemaker)</a></li>
	        <li><a href="/media/study/txtcritcare_6e.pdf">Textbook of Critical Care Medicine 6Edition (Shoemaker)</a></li>
	        <li><a href="/media/study/hrson_pulm_crit_2e.pdf">Harrison's Pulmonary and Critical Care Medicine</a></li>
        	</ul>
	</li>
	<li><h4>Cardiothoracic ICU</h4>
		<ul>
	        <li><a href="/media/study/bjr.pdf">Bojar's Manual of Perioperative Care in Adult Cardiac Surgery</a></li>
		</ul>
	</li>
	<li><h4>Internal Medicine</h4>
		<ul>
	        <li><a href="/media/study/ccl_sntl_9e.pdf">Cecil's Essentials of Medicine</a></li>
	        <li><a href="/media/study/ccl_25e.pdf">Cecil's Medicine</a></li>
	        <li><a href="/media/study/ccl_25e_q.pdf">Cecil's Medicine Review Questions</a></li>
	        <li><a href="/media/study/hrsn_man_19e.pdf">Harrsion's Manual of Medicine</a></li>
	        <li><a href="/media/study/hrsn_19e.pdf">Harrison's Internal Medicine</a></li>
	        <li><a href="/media/study/crnt_2017.pdf">Current Medical Diagnoses and Treatment</a></li>
		</ul>
	</li>
	<li><h4>Miscellaneous</h4>
		<ul>
	        <li><a href="/media/study/ecg_er.pdf">ECG for Emergency Physicians</a></li>
	        <li><a href="/media/study/ecg_rnd.pdf">ECG Rounds</a></li>
	        <li><a href="/media/study/pharm_glnc.pdf">Medical Pharmacology at a Glance</a></li>
		</ul>
	</li>
     </ul>
 </div>
{% endblock %}
